.ember-application {
	margin: 20px;
}

* {
	list-style: none  !important;
}

body {
	background-image: url(../images/bg-img.jpg) !important;
	font-family: 'Open Sans', sans-serif !important;
}

a {
	color: #000000 !important;
	text-decoration: none !important;
}

.container {
	background-color: rgba(248, 190, 69, 0.8) !important;
	border-radius: 6px !important;
	padding: 20px !important;
}

.recipe-img {
	height: 250px !important;
	width: 250px !important;
}

.recipe-template {
	margin-top: 10px !important;
}

.bttn-signin {
	display: inline-block !important;
	background-color: #A2DED0 !important;
	padding: 6px !important;
	border-radius: 6px !important;
	font-weight: bold !important;
}

.bttn-edit {
	display: inline-block !important;
	background-color: #F4D03F !important;
	padding: 6px !important;
	border-radius: 6px !important;
	font-weight: bold !important;
}

.bttn-edit-save {
	border: 0 !important;
	background-color: #F5D76E !important;
	padding: 6px !important;
	border-radius: 6px !important;
	font-weight: bold !important;
}

.bttn-home {
	display: inline-block !important;
	background-color: #A2DED0 !important;
	padding: 6px !important;
	border-radius: 6px !important;
	font-weight: bold !important;
}

.bttn-new {
	display: inline-block !important;
	background-color: #4183D7 !important;
	padding: 6px !important;
	border-radius: 6px !important;
	font-weight: bold !important;
	margin-left: 15px !important;
}

.bttn-create {
	border: 0 !important;
	background-color: #22A7F0 !important;
	padding: 6px !important;
	border-radius: 6px !important;
	font-weight: bold !important;
}

.bttn-delete {
	border: 0 !important;
	background-color: #C0392B !important;
	padding: 6px !important;
	border-radius: 6px !important;
	font-weight: bold !important;
	margin-left: 15px !important;
}

.fields {
	border: 0 !important;
	border-radius: 4px !important;
	padding: 4px !important;
}