.ember-application {
	margin: 20px;
}

body {
	background-image: url(../images/bg-img.jpg);
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #000000;
	text-decoration: none;
}

.container {
	background-color: #B67721;
	border-radius: 6px;
	padding: 20px;
}

.recipe-img {
	height: 250px;
	width: 250px;
}

.recipe-template {
	margin-top: 10px;
}

.edit-form {}

.new-form {}

.edit-button {
	display: inline-block;
	background-color: #f1c40f;
	padding: 6px;
	border-radius: 6px;
	font-weight: bold;
}

.home-button {
	display: inline-block;
	background-color: #27ae60;
	padding: 6px;
	border-radius: 6px;
	font-weight: bold;
}

.new-button {
	display: inline-block;
	background-color: #2980b9;
	padding: 6px;
	border-radius: 6px;
	font-weight: bold;
	margin-left: 15px;
}