.ember-application {
	margin: 20px;
}

body {
	background-image: url(../images/bg-img.jpg);
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #000000;
	text-decoration: none;
}

.container {
	background-color: #4DAF7C;
	border-radius: 6px;
	padding: 20px;
}

.recipe-img {
	height: 250px;
	width: 250px;
}

.recipe-template {
	margin-top: 10px;
}

.btn-edit {
	display: inline-block;
	background-color: #F4D03F;
	padding: 6px;
	border-radius: 6px;
	font-weight: bold;
}

.btn-edit-save {
	border: 0;
	background-color: #F5D76E;
	padding: 6px;
	border-radius: 6px;
	font-weight: bold;
}

.btn-home {
	display: inline-block;
	background-color: #A2DED0;
	padding: 6px;
	border-radius: 6px;
	font-weight: bold;
}

.btn-new {
	display: inline-block;
	background-color: #4183D7;
	padding: 6px;
	border-radius: 6px;
	font-weight: bold;
	margin-left: 15px;
}

.btn-create {
	border: 0;
	background-color: #22A7F0;
	padding: 6px;
	border-radius: 6px;
	font-weight: bold;
}

.btn-delete {
	border: 0;
	background-color: #C0392B;
	padding: 6px;
	border-radius: 6px;
	font-weight: bold;
	margin-left: 15px;
}

.fields {
	border: 0;
	border-radius: 4px;
	padding: 4px;
}