.ember-application {
	margin: 20px;
}

body {
	background-image: url(../images/bg-img.jpg);
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #FFFFFF;
}

.container {
	background-color: #96281B;
	color: #FFFFFF;
	border: 4px solid #000000;
	border-radius: 6px;
	padding: 20px;
}